body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    /* 세로 방향으로 요소들을 배치 */
    min-height: 100vh;
    /* 화면 전체 높이를 차지하도록 설정 */
    margin: 0;
    /* 기본 마진 제거 */
    background-color: black;
}

/* 세로방향 스크롤바 숨기기 */
html::-webkit-scrollbar {
    display: none;
}

/* 아래는 css1 내용 가져왔습니다다 */
/* 전체 헤더 스타일 */
header {
    background-color: #212121;
    /* 배경 색상 설정  */
    padding: 5px 5px 5px 5px;
    /* 헤더 주변 여백 설정 */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*가로정렬*/
    align-items: center;
    /*세로정렬*/
    top: 0;
    left: 0;
    right: 0;
    /* 밑에 추가한 내용 */
    position: fixed;
    z-index: 1000;
    /* 다른 요소들보다 우선하여 가장 위에 표시되도록 설정 */
}

input {
    color: #ffffff;
}

.video-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 5px;
    align-items: center;
}

.channel-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.channel-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.load-video-info {
    margin: 0;
    padding: 3px 15px 5px 0px;
    width: 276px;
    height: 223px;
    display: flex;
    flex-direction: column;
}

.thumbnail-img {
    /* js에서 불러오는 썸네일 이미지 css*/
    cursor: pointer;
    width: 276px;
    height: 155px;
}

.thumbnail-title {
    padding: 0;
    margin: 8px 0px 0px 0px;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
}

.thumbnail-text {
    padding: 0;
    margin: 3px;
    color: #AAA;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

/* 로고 스타일 */
.logo {
    color: #FFFFFF;
    /* 글자 색상 설정 (여기서는 흰색) */
    font-size: 24px;
    /* 글자 크기 설정 */
    font-weight: bold;
    /* 글자 굵기 설정 */
}

/* 검색창 스타일 */
.searchBox {
    margin-top: 0px;
    /* 검색창 위쪽 여백 설정 */
    display: flex;
    /* 내부 요소를 가로로 정렬 */


    justify-content: center;
    /* 요소들을 가운데로 정렬 */
    align-items: center;
    /* 요소들을 수직 가운데로 정렬 */


}

.searchInput {
    flex: 1;
    /* 남은 공간을 꽉 채우도록 설정 */
    padding: 5px;
    /* 검색창 주변 여백 설정 */
    font-size: 16px;
    /* 글자 크기 설정 */
    background-color: #121212;
    width: 400px;
    height: 20px;
    border-radius: 25px;
    outline: none;
    border: none;

}

.searchButton {

    padding: none;
    /* 버튼 내부 여백 설정 */
    background-color: #212121;
    /* 배경 색상 설정 (여기서는 흰색) */
    border: none;
    /* 테두리 제거 */
    font-size: 0px;
    /* 글자 크기 설정 */
    cursor: pointer;
    /* 커서 모양을 포인터로 변경 */
    width: fixed;
    height: fixed;
}

.searchButtonImage {
    width: 50px;
    height: auto;
    padding: none;
    border: none;
    margin: none;
    border-radius: 15%;
}

.voiceSearchButton {
    background-color: #212121;
    border: none;
    cursor: pointer;
}

.voiceButtonImage {
    width: 30px;
    height: auto;
    padding: none;
    border: none;
    margin: none;
}

.menuButton {
    background-color: #212121;
    border: none;
    cursor: pointer;
}

.menuButtonImage {
    width: 30px;
    height: auto;
    padding: none;
    border: none;
    margin: none;
}


.youtubeLogoButton {
    background-color: #212121;
    border: none;
    cursor: pointer;
}

.youtubeLogoButtonImage {
    width: 120px;
    height: auto;
    padding: none;
    border: none;
    margin: none;

}

.headerRight {
    align-items: center;
    display: flex;
}

.createButton {
    background-color: #212121;
    border: none;
    cursor: pointer;
}


.createButtonImage {
    width: auto;
    height: auto;
    padding: none;
    border: none;
    margin: none;
}

.appButton {
    background-color: #212121;
    border: none;
    cursor: pointer;
}

.appButtonImage {
    width: auto;
    height: auto;
    padding: none;
    border: none;
    margin: none;
}

.notificationButton {
    background-color: #212121;
    border: none;
    cursor: pointer;
}

.notificationButtonImage {
    width: auto;
    height: auto;
    padding: none;
    border: none;
    margin: none;
}

.profileButton {
    background-color: #212121;
    border: none;
    cursor: pointer;
}

.profileButtonImage {
    width: auto;
    height: auto;
    padding: none;
    border: none;
    margin: none;
    border-radius: 50%;
}

/* 메인 영역 스타일 */
main {
    display: flex;
    flex: 6;
    background-color: black;
    /* 배경 색상 설정 (여기서는 연한 회색) */
    justify-content: flex-start;
    flex-direction: column;

    /* 메인 화면이 오른쪽으로 오도록 설정 */
    order: 3;
    margin-left: 155px;
    /* 사이드바랑 겹치지 않도록 */
    /* 페이지에 맞게 조정 */
    position: relative;
    /* 하위 요소의 위치를 상대적으로 설정 */

}

/* 사이드바 스타일 */
aside {
    /* 사이드바 너비 설정 */
    background-color: #212121;
    /* 배경 색상 설정 (여기서는 연한 회색) */
    padding: 5px;
    /* 주변 여백 설정 */
    flex: 1;

    flex-direction: column;
    /* 버튼들을 세로로 배치 */
    align-items: center;
    /* 버튼들을 수직 가운데로 정렬 */
    position: fixed;
    /* 사이드바 고정 */
    left: 0;
    /* 사이드바를 왼쪽에 고정 */

    /* margin: 0;
    margin-top: 0; */
    /* margin 없애려고 값을 줬는데도 왜 그대로일까요ㅜ */
}


/* 버튼 그룹 스타일 */
.button-group {
    width: 100%;
    /* 버튼 그룹의 넓이를 aside 요소의 넓이에 맞춤 */
    display: flex;
    /* 그룹 내부 요소들을 flexbox로 배치 */
    flex-direction: column;
    /* 버튼 그룹을 세로로 배치 */
    align-items: center;
    /* 버튼 그룹을 수직 가운데로 정렬 */
    margin-bottom: 10px;
    /* 버튼 그룹 사이에 간격 추가 */
    border-bottom: 1px solid #ccc;
    /* 선 스타일 설정 */
    padding-bottom: 10px;
    /* 선과 버튼 사이의 간격 설정 */
    align-items: flex-start;
    /* 버튼 그룹을 왼쪽으로 정렬 */
}

.button-group-title {
    color: #AAAAAA;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* 버튼 스타일 */
.button-group button {
    /* 버튼 그룹의 넓이를 aside 요소의 넓이에 맞춤 */
    width: 100%;

    font-size: 14px;
    color: #fff;
    padding: 7px 10px;

    /* 배경 색상 설정 (여기서는 연한 회색) */
    background-color: #212121;

    /* 버튼 테두리 제거 */
    border: none;

    /* 마우스 포인터를 버튼 위로 올렸을 때 커서 모양 변경 */
    cursor: pointer;
    /* 이미지와 텍스트를 가로로 나란히 배치 */
    display: flex;
    /* 이미지와 텍스트를 수직 가운데로 정렬 */
    align-items: center;
}

/* 텍스트 스타일 */
.button-group span {
    margin-left: 10px;
    /* 텍스트 왼쪽 여백 추가 */
    color: #ffffff;
}

/* flexbox 컨테이너 설정 */
.flex-container {
    display: flex;
    height: 100%;
}

/* 순서 조정 */
.flex-container .flex-item-header {
    order: 1;
}

/* 사이드 메뉴 고정, 고정 후 여백 조정 */
.flex-item-aside {
    margin-top: 45px;
    position: fixed;
}


.flex-container .flex-item-aside {
    order: 2;
    flex-basis: 170px;
    flex-shrink: 0;
    flex-grow: 0;
}

.flex-container .flex-item-main {
    order: 3;
}


.flex-item-main {
    flex: 4;
    padding: 20px;
    padding-right: 0px;
    margin-top: 25px;
}

/* 채널 메인 페이지 */
/* 채널 커버 클래스 스타일 */
.channel-Cover {
    width: 100%;
    height: 100%;
    /* 이미지를 <main> 요소와 동일한 크기로 설정 */
    position: flex;
    /* 이미지를 <main> 요소의 상대적 위치로 설정 */
    top: 0;
    left: 0;
    /* 이미지를 <main> 요소의 왼쪽 상단에 위치시킴 */
}

/* 이미지 스타일 (설정한 이미지 크기에 따라 필요한 경우 조정) */
.channel-cover img {
    display: flex;
    width: 100%;
    /* 이미지 오른쪽 여백 제거 */
    height: 100%;
    object-fit: cover;
    /* 이미지를 비율을 유지하면서 <main> 영역에 꽉 채우도록 설정 */
}

.channel-Title {
    padding-top: 10px;
    display: flex;
    padding: 16px 65px 4px 65px;
    align-items: flex-start;
    gap: 699px;
}


/* 채널 프로필 안의 프로필과 채널명의 클래스를 임의로 지정하였습니다. */
/* 채널 프로필 class="channel-profile" */
/* 채널명 class="channel-name" */
/* 나중에 통일시켜주세요 */
/* 채널 프로필 이름 */
.channel-profile {
    color: #FFFFFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    align-items: center;
    margin-bottom: 5px;
}

/* 프로필과 채널명 스타일 */
.channel-profile,
.channel-name {
    display: inline-block;
    /* inline 요소로 배치하여 나란히 표시 */
    vertical-align: middle;
    /* 수직 가운데 정렬 */
    margin-right: 24px;
    /* 우측 여백 설정 */
}

/* 프로필 이미지 스타일 (크기 및 기타 스타일은 필요에 따라 조정) */
.channel-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
}



/* 채널 프로필 구독 수 */
#channel-Sub {
    display: block;
    font-size: 14px;
    color: #aaa;
    margin-bottom: 5px;
}

.channel-Text {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 10px;
}

/* 채널 프로필 구독 버튼 */
/* .channel-Title button {
    display: flex;
    padding: 10px 16px;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    gap: 10px;
    border-radius: 2px;
    background-color: #c00;
    color: #ffffff;
} */

/* 구독 버튼 스타일 */
.subscribe-button {
    float: right;
    /* 오른쪽 유지 */
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    background-color: red;
    color: white;
    cursor: pointer;
    right: 0;
    margin-right: 15px;
    margin-top: 15px;
}

.channel-title {
    background-color: #171717;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

/* 채널 툴바 전체 스타일 */
.channel-Toolbar {
    display: flex;
    /* 요소들을 가로로 정렬 */
    width: 100%;
    align-items: center;
    /* 주변 여백 설정 */
    position: sticky;
    /* 스크롤에 따라 고정되도록 설정 */
    z-index: 999;
    /* 다른 요소들보다 앞에 나오도록 설정 */
    height: 48px;
    padding: 0px 65px;
    /* 양끝 내부 여백 */
}

/* 채널 툴바 내부 버튼 스타일 */
.channel-toolbar button {
    align-items: center;
    /* 내부 요소들을 수직 가운데로 정렬 */
    text-align: center;
    /* 버튼 텍스트를 가운데 정렬 */
    background: transparent;
    /* 배경 색상 투명으로 설정 */
    border: none;
    /* 테두리 제거 */
    color: #fff;
    /* 글자 색상 흰색으로 설정 */
    font-size: 14px;
    /* 글자 크기 설정 */
    cursor: pointer;
    /* 커서 모양을 포인터로 변경 */
    width: 104px;
    height: 48px;
    /* 버튼 크기 설정 */
    margin: 5px 20px;
}

/* .channel-Search와 .channel-left 이미지 스타일 */
#channel-Search {
    background: transparent;
    /* 배경 색상 투명으로 설정 */
}

#channel-left {
    width: auto;
    /* 이미지 너비 설정 */
    height: auto;
    /* 이미지 높이 설정 */
    margin-right: 20px
        /* 이미지 오른쪽 여백 설정 */
}

/* 채널 소형 영상 */
.small-Video {
    display: inline-flex;
    padding: 24px 287px 24px 65px;
    align-items: flex-start;
}

.channel-Video {
    flex: 2;
    margin-right: 20px;
}

/* Desc 전체 설정 */
#channel-Desc {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
}

/* desc 제목 */
#desc-Title {
    /* 아래 비교해보려고 적어둔 것입니다.. */
    /* display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px; */

    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.14px;
}

/* 여기서부터 제대로 확인하지 못했습니다ㅠㅠ */
/* desc  */
#desc-Time {
    display: block;
    font-size: 14px;
    color: #777;
    margin-bottom: 5px;
}

#desc-Desc {
    display: block;
    font-size: 14px;
    color: #ffffff;
}

/* 플레이 리스트 스타일 */
.play-List {
    margin-top: 20px;
}

.play-List-Title {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.play-btn {
    padding: 5px 10px;
    border: none;
    background-color: #212121;
    color: #fff;
    cursor: pointer;
}


/* 08.01 */
/* 
- 어사이드 정렬
- 우측 상단 버튼들 조절
- 전체적으로 정렬을 바꾸기는 했는데 js에서 불러오는 부분이 
  들어와야 수정이 가능할것 같습니다.
*/