/* 세로방향 스크롤바 숨기기 */
html::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    background-color: #181818;
}

section {
    order: 2;
    margin-left: 12vw;
    margin-top: 44px;
    width: 50vw;
}

/* 사이드바 스타일 */
aside {
    padding: 10px 5px;
    margin-left: 20px;
    /* 주변 여백 설정 */
    flex: 1;
    order: 3;
    margin-top: 43px;
    flex-direction: column;
    /* 버튼들을 세로로 배치 */
    margin-right: 164px;
    /* 사이드바와 오른쪽 사이의 간격 */
}

header {
    background-color: #212121;
    /* 배경 색상 설정  */
    padding: 0px 5px;
    /* 헤더 주변 여백 설정 */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*가로정렬*/
    align-items: center;
    /*세로정렬*/
    top: 0;
    left: 0;
    right: 0;
    /* 밑에 수정한 내용 */
    position: fixed;
    z-index: 1000;
    /* 다른 요소들보다 우선하여 가장 위에 표시되도록 설정 */
    min-width: 890px;
    order: 1;
}

/* 헤더 스타일 시작 */
/* 로고 스타일 */
.logo {
    color: #FFFFFF;
    /* 글자 색상 설정 (여기서는 흰색) */
    font-size: 24px;
    /* 글자 크기 설정 */
    font-weight: bold;
    /* 글자 굵기 설정 */
}

/* 검색창 스타일 */
.searchBox {
    margin-top: 0px;
    /* 검색창 위쪽 여백 설정 */
    display: flex;
    /* 내부 요소를 가로로 정렬 */


    justify-content: center;
    /* 요소들을 가운데로 정렬 */
    align-items: center;
    /* 요소들을 수직 가운데로 정렬 */


}

.searchInput {
    flex: 1;
    /* 남은 공간을 꽉 채우도록 설정 */
    padding: 5px;
    /* 검색창 주변 여백 설정 */
    font-size: 16px;
    /* 글자 크기 설정 */
    background-color: #121212;
    width: 400px;
    height: 20px;
    border-radius: 25px;
    outline: none;
    border: none;

}

.searchButton {

    padding: none;
    /* 버튼 내부 여백 설정 */
    background-color: #212121;
    /* 배경 색상 설정 (여기서는 흰색) */
    border: none;
    /* 테두리 제거 */
    font-size: 0px;
    /* 글자 크기 설정 */
    cursor: pointer;
    /* 커서 모양을 포인터로 변경 */
    width: fixed;
    height: fixed;
}

.searchButtonImage {
    width: auto;
    height: auto;
    padding: none;
    border: none;
    margin: none;
    border-radius: 15%;
}

.voiceSearchButton {
    background-color: #212121;
    border: none;
    cursor: pointer;
}

.voiceButtonImage {
    width: 30px;
    height: auto;
    padding: none;
    border: none;
    margin: none;
}

.menuButton {
    background-color: #212121;
    border: none;
    cursor: pointer;
}

.menuButtonImage {
    width: 30px;
    height: auto;
    padding: none;
    border: none;
    margin: none;
}


.youtubeLogoButton {
    background-color: #212121;
    border: none;
    cursor: pointer;
}

.youtubeLogoButtonImage {
    width: 120px;
    height: auto;
    padding: none;
    border: none;
    margin: none;

}

.headerRight {
    align-items: center;
    display: flex;
}

.createButton {
    background-color: #212121;
    border: none;
    cursor: pointer;
}


.createButtonImage {
    width: auto;
    height: auto;
    padding: none;
    border: none;
    margin: none;
}

.appButton {
    background-color: #212121;
    border: none;
    cursor: pointer;
}

.appButtonImage {
    width: auto;
    height: auto;
    padding: none;
    border: none;
    margin: none;
}

.notificationButton {
    background-color: #212121;
    border: none;
    cursor: pointer;
}

.notificationButtonImage {
    width: auto;
    height: auto;
    padding: none;
    border: none;
    margin: none;
}

.youtubeLogoButton,
.menuButton,
.createButton,
.searchButton,
.voiceButton,
.appButton,
.notificationButton,
.profileButton {
    padding: 1px 6px;
}


.profileButton {
    background-color: #212121;
    border: none;
    cursor: pointer;
}

.profileButtonImage {
    width: auto;
    height: auto;
    padding: none;
    border: none;
    margin: none;
    border-radius: 50%;
}

/* 헤더 스타일 종료 */

/* 사이드바 스타일 시작 */
.aside-video {
    display: flex;
    flex-direction: row;
    margin: 10px 5px 10px 5px;
}

.aside-thumbnail {
    width: 210px;
    height: 118px;
    cursor: pointer;
}

.aside-text-content {
    width: 204px;
    flex-direction: column;
    margin-left: 7px;
    vertical-align: middle;
    display: flex;
    margin-top: 10px;
}

.aside-title {
    color: white;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 7px;
}

.aside-text {
    margin: 3px 0px;
    color: #AAA;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* 썸네일 텍스트 */
.thumbnail-text-link {
    text-decoration: none;
    color: white;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 7px;
}

.thumbnail-text-link:link {
    color: white;
    text-decoration: none;
}

.thumbnail-text-link:visited {
    color: white;
    text-decoration: none;
}

.thumbnail-text-linka:hover {
    color: white;
    text-decoration: underline;
}

.thumbnail-text-link:active {
    color: white;
    text-decoration: none;
}

/* 썸네일 제목 링크 */
.thumbnail-title-link {
    text-decoration: none;
    color: white;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 5px;
}

.thumbnail-title-link:link {
    color: white;
    text-decoration: none;
}

.thumbnail-title-link:visited {
    color: white;
    text-decoration: none;
}

.thumbnail-title-linka:hover {
    color: white;
    text-decoration: underline;
}

.thumbnail-title-link:active {
    color: white;
    text-decoration: none;
}

/* 썸네일 채널 링크 */
.thumbnail-channel-link {
    text-decoration: none;
    color: #AAA;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 5px;
}

.thumbnail-channel-link:link {
    color: #AAA;
    text-decoration: none;
}

.thumbnail-channel-link:visited {
    color: #AAA;
    text-decoration: none;
}

.thumbnail-channel-linka:hover {
    color: #AAA;
    text-decoration: underline;
}

.thumbnail-channel-link:active {
    color: #AAA;
    text-decoration: none;
}

/* section부분 css */
.video-content {
    margin: 20px 0px;
}

.video-title {
    color: #fff;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
}

.info-text {
    width: 25%;
}

.video-detail {
    color: #AAA;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 15px;
}

.video-expression {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.expression-btn {
    margin: 0px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: #181818;
}

.expression-btn-text {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin: 0px 8px;
}

.channel-info {
    margin-bottom: 30px;
    margin-top: 15px;
}

.channel-info-top {
    display: flex;
    justify-content: center;

    /* justify-content: space-between; */

    align-items: center;
}

.channel-info-box {
    margin-bottom: 10px;
}

.channel-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
}

.channel-info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    padding: 0;
}

.channel-link {
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--white-color, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.channel-info-text p {
    color: var(--gray-color, #AAA);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.channel-info-detail {
    margin-left: 58px;
    padding: 0px 140px 0px 0px;
    color: var(--white-color, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* 구독 버튼 css */
.channel-subscribes {
    display: flex;
    align-items: flex-start;
    width: 116px;
    height: 36px;
    border-radius: 5px;
    background: #C00;
    border: none;
    color: var(--white-color, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}

/* 댓글창 css 시작 */
.comment-header {
    margin: 25px 0px 10px 0px;
    height: 20px;
}

.comment-header p,
label {
    font-size: 15px;
    color: #fff;
    font-weight: 700;
}

.comment-count {
    margin-right: 32px;
}

.comment-sort-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}



.sort-btn {
    border: 0;
    background-color: #181818;
    margin-right: 10px;
    cursor: pointer;
}

.comment-form {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
}

/* 댓글 작성칸 유저 프로필 */
.profile-image img {
    border-radius: 25px;
    margin-top: 20px;
}

.profile-image {
    display: flex;
    margin-bottom: 25px;
}

.commentInput {
    font-size: 15px;
    color: #fff;
    width: 80%;
    border: none;
    border-bottom: solid #aaaaaa 1px;
    padding-bottom: px;
    margin-left: 10px;
    margin-right: 20px;
    position: relative;
    background: none;
    z-index: 5;
}

.commentInput:focus {
    outline: none;
    color: #fff;
    /* commentInput에 마우스를 클릭했을 때 하얗게 변하도록 설정 */
    border-bottom: solid #fff 1px;
}

.comment-buttons {
    display: none;
}

.comment-enter-btn {
    height: 25px;
    color: #909090;
    background: #181818;
    border-radius: 24px;
    width: 3vw;
    border: 0;
    outline: 0;
}

.comment-cancel-btn {
    height: 25px;
    color: #909090;
    background: #181818;
    border-radius: 24px;
    width: 3vw;
    border: 0;
    outline: 0;
}

.comment-cancel-btn:hover {
    color: #000;
    background: #dbdbdb;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.comment-enter-btn:hover {
    color: #000;
    background: #dbdbdb;
    border: 0;
    outline: 0;
    cursor: pointer;
}

/* 댓글 목록 css 시작  */
.comment-list {
    display: flex;
    padding-bottom: 16px;
    color: #FFFFFF;
}

.video-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;
}

.video-user-name,
.video-comment-text {
    margin: 10px 0px;
    color: #FFF;
    font-size: 14px;
}

.video-user-name {
    font-weight: 900;
}

.video-comment-toolbar {
    padding: 12px 0px;
}



.video-comment-time,
.video-comment-toolbar {
    color: #aaaaaa;
    font-size: 12px;
}

.video-comment-toolbar img {
    width: 13px;
    height: 12.3px;
    padding: 0px 15px;
    margin: 0;
    cursor: pointer;
}

.video-comment-reply {
    color: #aaaaaa;
    background: transparent;
    font-size: 12px;
    border: 0;
    cursor: pointer;
    margin-left: 30px;
}

.profile-image img,
.video-user img {
    width: 38px;
    height: 38px;
}

.video-user img {
    margin-top: 10px;
}

.user-comment-box {
    display: flex;
}

hr.one {
    width: 150px;
    color: #C00;
    border: thin solid red;
}



/* 8월 2일 css_3 박수진 작성 */
/* 밑에 주석 처리된 내용은 진혁님께서 작성하셨던 코드입니다. */


/* 스타일을 적용할 클래스들  */
/* .user-comment-box {
    display: flex;
    /* Flexbox를 사용하여 이미지와 텍스트를 나란히 배치합니다. */
/* align-items: center; */
/* 수직 가운데 정렬 */

/* 
.video-like,
.video-like-text,
.video-comment-reply {
    /* 툴바 내부 아이템들도 적절한 스타일을 적용합니다. */
/* margin-right: 10px; */
/* 아이템 사이의 오른쪽 여백  */



/* video comments */
/* .comments-sortby {
    width: 226px;
    height: 24px;
    display: flex;
    align-items: center;
}

.video-show-more {
    background-color: transparent;
    color: #D8D8D8;
    border-color: transparent;
    font-size: x-small;
    display: flex;
    cursor: pointer;
}

.video-dropdown {
    width: 20px;
    height: 23px;
    padding-right: 20px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.video-comments-count {
    font-size: 16px;
    color: white;
}

.video-sort-by {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
}

.video-user {
    border-radius: 45%;
    padding-right: 2px;
    padding-block: 5px;
}

.video-comment-area {
    background-color: transparent;
    border-color: transparent;
    border-bottom: 1px #303030;
}

.video-user-name {
    font-weight: 600;
    font-size: 14px;
    color: white;
}

.video-comment-time {
    font-size: xx-small;
    font-weight: lighter;
    color: white;
}

.video-comment-text {
    font-size: 14px;
    color: white;
}

.video-like {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.video-like-text {
    font-size: 12px;
    color: white;
}

.video-comment-reply {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    font-size: 12px;
    padding-left: 15px;
    color: white;
} */


/* video list */
/* .displayVideoList {
    display: flex;
    width: 426px;
    height: 968px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    background: #181818;
} */

.video {
    margin-top: 30px;
}

#displayVideoList {
    padding-top: 10px;
}