/* mainTop 부분 */
/* 필터링 버튼과 슬라이더 버튼을 감싸는 컨테이너의 스타일 */
.mainTop {
    position: relative;
    /* 슬라이더 버튼의 위치를 설정하기 위해 상대적 위치로 지정 */
    overflow: hidden;
    /* 컨테이너 영역을 넘어가는 부분을 숨기기 위해 오버플로우 속성 사용 */
}

/* 필터링 버튼들을 감싸는 div의 스타일 */
.filterButtons {
    display: flex;
    /* 버튼들을 가로로 나란히 배치 */
    gap: 10px;
    /* 버튼들 사이의 간격 */
    white-space: nowrap;
    /* 필터링 버튼들이 한 줄에 나오도록 줄 바꿈 방지 */
    overflow-x: auto;
    /* 필터링 버튼이 컨테이너를 넘어갈 경우 스크롤바 생성 */
    min-width: 100%;
    /* 컨테이너의 최소 너비를 100%로 설정 */

}

/* 필터링 버튼의 공통 스타일 */
.filterButtons button {
    padding: 10px 20px;
    background-color: #303030;
    border: 1px solid #AAAAAA;
    border-radius: 25px;
    /* 버튼을 더 둥글게 만들기 위해 border-radius 값을 크게 설정 */
    cursor: pointer;
    color: #ffffff;
}

/* 활성화된 필터링 버튼의 스타일 */
button.active {
    background-color: #ffffff;
    color: #303030;
    /* 활성화된 버튼의 글자 색상을 흰색(#fff)으로 변경 */
}

/* 오른쪽 화살표 모양 버튼 */
/* 평소에는 없다가 필터버튼이 많아져서 화면에 전부 담지 못하게 됬을 때 나타나서 
   누르면 뒤에 있는 버튼으로 넘어가게 하려 했는데.. 성공하지 못했습니다 */
/* 슬라이더 버튼의 스타일 */
.sliderButton {
    position: absolute;
    /* 상대적으로 위치를 설정했기 때문에 절대적인 위치로 지정 */
    top: 50%;
    /* 세로 중앙 정렬을 위해 상단 기준으로 50% 위치 설정 */
    transform: translateY(-50%);
    /* 세로 중앙 정렬을 위해 위로 50% 이동 */
    background-color: transparent;
    /* 반투명한 배경색 설정 */

    font-size: 20px;
    padding: 5px;
    border: none;
    cursor: pointer;
    display: block;
    /* 화면이 작을 때만 보여주도록 초기에는 숨김 처리 */
    z-index: 1;
    /* 화살표 버튼을 필터링 버튼 위로 겹치도록 설정 */
    height: 100%;
    width: 50px;
}

/* 왼쪽 슬라이더 버튼의 위치 */
.sliderButton.left {
    left: 0;
}

/* 오른쪽 슬라이더 버튼의 위치 */
.sliderButton.right {
    right: 0;
}

nav {
    position: relative;
    overflow: hidden;
    /* 내부 컨텐츠가 넘치지 않도록 설정 */
}

/* 오른쪽 화살표 버튼의 위치를 항상 nav의 오른쪽에 고정 */
nav .sliderButton.right {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 20px;
    padding: 5px;
    border: none;
    cursor: pointer;
    z-index: 1;
}

/* mainTop 끝! */