/* css_1: 상단메뉴바, 사이드메뉴바, video.html */

/* 자주 사용할 것 같은 color, size, font 값들을 지정해둠 */
/* 나중에 불러와서 사용할 수 있도록 */
:root {
    /* color */
    --white-color: #ffffff;
    --black-color: #212121;
    --blue-color: #3838aa;
    --gray-dark-color: #303030;
    --gray-light-color: #AAAAAA;
    --red-color: #9e1616;

    /* size */
    --side-padding: 12px;
    --avatar-size: 36px;

    /* font, size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

body {
    font-family: Roboto;
}

/* Home 페이지의 상단 메뉴바 Header 부분 */

header {
    display: flex;
    padding: var(--side-padding);
    background-color: #212121;
    color: var(--white-color);
    height: 56px;
    width: 1440px;
}

.Top {
    display: flex;
    /* width: 1440px; */
    /* height: 56px; */

    background-color: var(--black-color);
}

/* menu 이미지와 youtube logo가 있는 클래스  */
.Logo {
    /* display: flex;
    padding: 18px 14px 18px 16px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex-direction: row; */

    display: inline-flex;
    padding-right: 0px;
    align-items: center;

    box-sizing: border-box;
    /* content-box 대신 border-box 사용 */
    padding-left: 16px;
    /* 왼쪽 padding 설정 */
    /* padding-right: 1255px; */
    /* 오른쪽 padding 설정 */
}

.Lgo img {
    margin: 0;
    background-color: var(--black-color);
}

/* home 페이지의 상단 가운데 서치바가 있는 부분 */
.Search {
    /* display: flex;
    width: 470px;
    justify-content: center;
    align-items: center;
    gap: 1px;
    font-size: large; */

    display: flex;
    width: 470px;
    height: 40px;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    flex-shrink: 0;

    box-sizing: border-box;
    /* content-box 대신 border-box 사용 */
    padding-left: 525px;
    /* 왼쪽 padding 설정 */
    padding-right: 445px;
    /* 오른쪽 padding 설정 */
    padding-top: 8px;
    padding-bottom: 8px;

}

#Search {
    width: 362px;
    height: 40px;
    flex-shrink: 0;

    border-radius: 2px 0px 0px 2px;
    background: #121212;


    /* padding: 20px 10px;
    line-height: 20px;
    align-items: center; */
}

.Search img {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 6px 13px;
    justify-content: center;
    align-items: center;

    background: #303030;
}

/* home 페이지의 오른쪽 아이콘 부분 */
.Top-Right-Icons {
    display: flex;
    width: 204px;
    height: 40px;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;

    box-sizing: border-box;
    /* content-box 대신 border-box 사용 */
    padding-left: 190px;
    padding-right: 16px;
    /* 오른쪽 padding 설정 */
    padding-top: 8px;
    padding-bottom: 8px;

    /* display: flex;
    padding: 8px;
    align-items: center;
    justify-content: flex-end;
    gap: 10px; */
}

/* .Top-Right-Icons span {
    background-color: var(--gray-dark-color);
} */

.Icon {
    width: 24px;
    height: 24px;
}

#profileIcon {
    display: flex;
    padding: 4px 14px;
    align-items: flex-start;
    gap: 10px;
}


/* 피그마에 있는 상단바 내용 */
/* 보시기 편하라고 남겨둡니다! */
.NavigationsSearchBox,
.NavigationsProfile {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
}

.NavigationsSearchBox {
    width: 470px;
    gap: 4px;
}

.NavigationsProfile {
    width: 40px;
    gap: 8px;
}

.NavigationsCreate,
.NavigationsApps,
.NavigationsNotifications {
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 10px;
}

.NavigationsProfile-2 {
    display: flex;
    padding: 4px 14px;
    align-items: flex-start;
    gap: 10px;
}

/* 아래는 영재님이 하신 부분이시고 저는 상단부분 만드느라 밑에는 만지지 않았습니다! */
/* Home 페이지의 sidebar 부분 */

.sidebar {
    position: absolute;
    width: 240px;
    left: 0px;
    top: 56px;
    bottom: 0px;

    background: #212121;
}

/* sidebar 부분의 Home, Explore, Subscription 있는 부분*/
/* 왼쪽 윗부분 */
.sidebarTop {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 0px;

    position: absolute;
    width: 224px;
    height: 144px;
    left: 0px;
    top: 0px;
}

/* sidebarTop 부분의 Menu */
/* Home, Explore, Subscription이 나눠진 부분*/
.sidebarMenu-1 {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 8px 8px 24px;
    gap: 10px;

    width: 224px;
    height: 40px;

    /* border-color */
    background: #303030;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* sidebarMenu의 아이콘과 텍스트 부분*/
.sidebarMenu-Item {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 192px;
    height: 24px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* 아이콘 */
.sidebarMenuIcon {
    width: 24px;
    height: 24px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* 아이콘이 들어가 있는 약간 여유가 있는 틀? 인 것 같습니다*/
.home-fill {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
}

/* 아이콘이 들어가 있는 빡빡한 틀? */
.home-fill .Group {
    position: absolute;
    left: 16.67%;
    right: 16.67%;
    top: 12.5%;
    bottom: 12.5%;
}

/* 아이콘 그 자체 */
.home-fill .Vector {
    position: absolute;
    left: 16.67%;
    right: 16.67%;
    top: 12.5%;
    bottom: 12.5%;

    /* White-Color */
    background: #FFFFFF;
}

/* Home 이 써져 있는 틀 */
.sidebarMenuTitle {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 0px;
    gap: 10px;

    width: 144px;
    height: 24px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Home 글씨 */
.Home-1 {
    width: 38px;
    height: 16px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    /* White-Color */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* sidebarTop 부분의 Menu */
/* Home, Explore, Subscription이 나눠진 부분의 2번째*/
.sidebarMenu-2 {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 8px 8px 24px;
    gap: 10px;

    width: 224px;
    height: 40px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* 아이콘이 들어가 있는 약간 여유가 있는 틀? 인 것 같습니다*/
/* 위의 home-fill 과 같은 느낌입니다*/
.explore {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
}

/* 아이콘이 들어가 있는 빡빡한 틀? */
.explore .Group {
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 8.33%;
    bottom: 8.33%;
}

/* 아이콘 그 자체 */
.explore .Vector {
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 8.33%;
    bottom: 8.33%;

    /* White-Color */
    background: #FFFFFF;
}

/* Explore 글씨 */
.Home-2 {
    width: 47px;
    height: 16px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    /* White-Color */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* sidebarTop 부분의 Menu */
/* Home, Explore, Subscription이 나눠진 부분의 3번째*/
.sidebarMenu-3 {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 8px 8px 24px;
    gap: 10px;

    width: 224px;
    height: 40px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.sunscriptions {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
}

.sunscriptions .Group {
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 12.5%;
    bottom: 12.5%;
}

.sunscriptions .Vector {
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 12.5%;
    bottom: 12.5%;

    /* White-Color */
    background: #FFFFFF;
}

/* Subscriptions 글씨 */
.Home-3 {
    width: 86px;
    height: 16px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    /* White-Color */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}