/* 작성은 해봤지만 아무리 봐도 이게 아닌것 같습니다*/
/* 죄송합니다ㅠㅠ*/

/* Home 부분의 sidebar */

.sidebar {
    position: absolute;
    width: 240px;
    left: 0px;
    top: 56px;
    bottom: 0px;

    background: #212121;
}

/* sidebar 부분의 Home, Explore, Subscription 있는 부분*/
/* 왼쪽 윗부분 */
.sidebarTop {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 0px;

    position: absolute;
    width: 224px;
    height: 144px;
    left: 0px;
    top: 0px;
}

/* sidebarTop 부분의 Menu */
/* Home, Explore, Subscription이 나눠진 부분*/
.sidebarMenu-1 {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 8px 8px 24px;
    gap: 10px;

    width: 224px;
    height: 40px;

    /* border-color */
    background: #303030;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* sidebarMenu의 아이콘과 텍스트 부분*/
.sidebarMenu-Item {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 192px;
    height: 24px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* 아이콘 */
.sidebarMenuIcon {
    width: 24px;
    height: 24px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* 아이콘이 들어가 있는 약간 여유가 있는 틀? 인 것 같습니다*/
.home-fill {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
}

/* 아이콘이 들어가 있는 빡빡한 틀? */
.home-fill .Group {
    position: absolute;
    left: 16.67%;
    right: 16.67%;
    top: 12.5%;
    bottom: 12.5%;
}

/* 아이콘 그 자체 */
.home-fill .Vector {
    position: absolute;
    left: 16.67%;
    right: 16.67%;
    top: 12.5%;
    bottom: 12.5%;

    /* White-Color */
    background: #FFFFFF;
}

/* Home 이 써져 있는 틀 */
.sidebarMenuTitle {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 0px;
    gap: 10px;

    width: 144px;
    height: 24px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Home 글씨 */
.Home {
    width: 38px;
    height: 16px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    /* White-Color */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* sidebarTop 부분의 Menu */
/* Home, Explore, Subscription이 나눠진 부분의 2번째*/
.sidebarMenu-2 {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 8px 8px 24px;
    gap: 10px;

    width: 224px;
    height: 40px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* 아이콘이 들어가 있는 약간 여유가 있는 틀? 인 것 같습니다*/
/* 위의 home-fill 과 같은 느낌입니다*/
.explore {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
}

/* 아이콘이 들어가 있는 빡빡한 틀? */
.explore .Group {
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 8.33%;
    bottom: 8.33%;
}

/* 아이콘 그 자체 */
.explore .Vector {
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 8.33%;
    bottom: 8.33%;

    /* White-Color */
    background: #FFFFFF;
}